*{
    margin: 0;
    padding: 0;
    /* background-color: lightpink; */
}
.button{
    padding: 8px;
}
.row{
    margin: 8px 0;
    height: 30px;
}
.button{
    padding: 5px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 31px;
}
.row input{
    padding: 4px 0px;
    margin: 0;
    border: 2px solid black;
    border-radius: 5px;
}